@font-face {
  font-family: "BELLABOO-Regular";
  src: url("../fonts//Bellaboo/webfont/BELLABOO-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;

  /* font-family: "myfontfamily";
  src: url("./fonts/myfontfile.woff2") format("woff2"),
    url("./fonts/myfontfile.woff") format("woff"),
    url("./fonts/myfontfile.eot") format("embedded-opentype"),
    url("./fonts/myfontfile.ttf") format("truetype"); */
}

body {
  background: coral;

  background-image: url("../images/Jack_the_dog.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: "BELLABOO-Regular", sans-serif;
}

// if unused will be removed by purify css
.florin-cosmin {
  color: red;
}
