@font-face {
  font-family: "BELLABOO-Regular";
  // src: url("../fonts/Bellaboo/webfont/BELLABOO-Regular.woff") format("woff");
  src: url("../fonts/Bellaboo/webfont/BELLABOO-Regular.eot") format("eot"),
    url("../fonts/Bellaboo/webfont/BELLABOO-Regular.woff") format("woff"),
    url("../fonts/Bellaboo/webfont/BELLABOO-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: coral;

  background-image: url("../images/Jack_the_dog.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1,
.fancy-text {
  font-family: "BELLABOO-Regular", sans-serif;
}

// if unused will be removed by purify css
.florin-cosmin {
  color: red;
}
