body {
  background: coral;

  background-image: url("../images/Jack_the_dog.png");
  background-repeat: no-repeat;
  background-position: center;
}

// if unused will be removed by purify css
.florin-cosmin {
  color: red;
}
